body {
  background-color: #fefae0;
  color: #606c38;
  padding-left: 15%;
  padding-bottom: 20px;
}

img {
  height: auto;
  width: 400px;
  border-radius: 20px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

li {
  margin-top: 8px;
  margin-bottom: 8px;
}
